@media screen and (max-width: 400px) { 
    .left {
        margin-right:255px;
        font-size: 20px;
        padding: 0px;
    }
    
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        width: 80%;
        height: 100vh;
        background-color: white;
        transition: right 1s ease; 
    }

    #check:checked ~ .right {
        right: 0;
    }

    .close-right, .open-right {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }

    .links li {
        margin-top: 40px;
    }

    .links li a {
        padding: 65px;
        color: black;
    }

    .navbut {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button, .button-1 {
        margin: 15px 100px 0px 0px;
        padding: 15px;
    }

    .main{
        background-image: url('background1.3.jpg');
        height:50vh;
        width:400px;
        position:relative; 
    }

    .intro{
        position:absolute; 
        top: 50px;
        left: 110px;
        width:50%;
        font-size: 20px;
    }

    .intro-info{
        position:absolute; 
        top: 110px;
        width:70%;
        left:65px;
    }

    .intro-btn{position:absolute; 
        top: 160px;
        left:153px;
    }

    .main_content p{
        font-size:13px; 
    }

    .btn{
        padding: 10px;
        font-size:12px;
        border: none;
        border-radius: 2px;
        background: orange;
        color:white;
    }

    .our{
        padding:30px 0;
        font-size: 20px;
    }
    
    .para{
        font-size: 15px;
        margin:0 50px;
        padding-bottom:10px;
        
    }

    .cards{
        display: grid;
        grid-template-rows: auto auto auto auto;
     }
     .card{
         background: White;
         text-align:center;
         min-width: auto;
         padding:30px;
         font-size:15px;
         margin: 10px 25px;
     }

     .examples{
        display:flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
        background: whitesmoke;
        padding-top:25px;
    }
    .example1{   
        margin:10px;
        
    }
    .example001head, .example002head{
        margin-top:20px;
        margin-bottom:10px;
        font-size: 20px;
    }
    .examples p{
        padding-bottom:15px;
        font-size:15px;
    }
    a{
        font-size:15px;
        text-decoration:none;
        color:orange;
    }

    .examples img{
        display:block;
        order:-1;
        height: 10rem;
        width:10rem;
        border-radius:15rem;
    }

    .example2{   
        margin:10px;
    }

    .sponsors{
        display:flex;
        justify-content: center;
        text-align:center;
        background:#F0DFCC;
    }

    .sponsors1{
        padding:40px 0 20px 0;
        font-size: 20px;
    }

    .sponsors2 li, .sponsors3 li{
        margin:20px 5px;
        font-size:15px;
    }

    .bottom1{
        background:orange;
        Padding: 50px;
    }

    .bottom1_content h1{
        font-size: 20px;
    }
    .b1 a{
        display:inline-block;
        color:white;
        margin-top:35px;    
    }

    .bottom{
        display:flex;
        flex-direction:column;
        padding: 15px;
    }

    .end{
        padding: 15px;
    }
    
    .end1 h3{
        padding:20px 0px;
        font-size: 20px;
    }

    .end h1{
        padding-bottom:15px;
        font-size: 20px;
    }
    h3{
        margin-left: 19px;
    }
    
    .end2{
        display:flex;
        align-items:start;
        margin:15px;
        
    }
       
    
}

